<!DOCTYPE html>
<html lang="es">
<head>
    <%- include ('partials/head.html') %>
    <title><%= title %></title>
</head>
<body>
    <%- include ('partials/header.html')%>
    <h2 class="title-sections">Blog</h2>
    <section class="section-blog">
        <div class="card-post">
            <header class="header-post">
                <h3>Post 1</h3>
            </header>
            <div class="content-post">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
                    minus ab, ad repellendus expedita obcaecati nihil tempore maiores
                    nulla porro in officiis quaerat veritatis voluptatibus neque placeat
                    ducimus deserunt veniam.
                  </p>
            </div>
            <footer class="footer-post">
                <a href="/" class="info-button btn-blog">Ver más</a>
            </footer>
        </div>
        <div class="card-post">
            <header class="header-post">
                <h3>Post 2</h3>
            </header>
            <div class="content-post">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
                    minus ab, ad repellendus expedita obcaecati nihil tempore maiores
                    nulla porro in officiis quaerat veritatis voluptatibus neque placeat
                    ducimus deserunt veniam.
                  </p>
            </div>
            <footer class="footer-post">
                <a href="/" class="info-button btn-blog">Ver más</a>
            </footer>
        </div>
        <div class="card-post">
            <header class="header-post">
                <h3>Post 3</h3>
            </header>
            <div class="content-post">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
                    minus ab, ad repellendus expedita obcaecati nihil tempore maiores
                    nulla porro in officiis quaerat veritatis voluptatibus neque placeat
                    ducimus deserunt veniam.
                  </p>
            </div>
            <footer class="footer-post">
                <a href="/" class="info-button btn-blog">Ver más</a>
            </footer>
        </div>
        <div class="card-post">
            <header class="header-post">
                <h3>Post 4</h3>
            </header>
            <div class="content-post">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
                    minus ab, ad repellendus expedita obcaecati nihil tempore maiores
                    nulla porro in officiis quaerat veritatis voluptatibus neque placeat
                    ducimus deserunt veniam.
                  </p>
            </div>
            <footer class="footer-post">
                <a href="/" class="info-button btn-blog">Ver más</a>
            </footer>
        </div>
    </section>

    <%- include('partials/footer.html') %>
    <%- include ('partials/script.html') %>
</body>
</html>