<!DOCTYPE html>
<html lang="es">
<head>
    <%- include ('partials/head.html') %>
    <title><%= title %></title>
</head>
<body>
    <%- include ('partials/header.html')%>
    <section class="contact-container">
        <h2 class="title-sections">Contacto</h2>
        <form action="" class="contact-form">
            <label for="email">Correo:
                <input placeholder="Correo:" type="email" name="email">
            </label>
            <label for="asunto">Asunto:
                <input placeholder="Asunto:" type="text" name="asunto">
            </label>
            <label for="comments">Comentarios:
            <textarea placeholder="Comentarios" name="comments" id="" cols="30" rows="10"></textarea>
            </label>
            <input type="submit" value="Enviar" class="info-button">
        </form>
    </section>
    <%- include ('partials/footer.html')%>
    <%- include ('partials/script.html')%>
</body>
</html>