<!DOCTYPE html>
<html lang="es">
<head>
    <%- include ('partials/head.html') %>
    <title><%= title %></title>
</head>
<body>
    <%- include ('partials/header.html') %>
    <h2 class="title-sections">Proyectos</h2>
    <section class="projects-container">
        <div class="card-project">
            <div class="card-press">
                <i class="fa-solid fa-bullseye"></i>
            </div>
            <img src="/assets/img/post-1.png" alt="">
            <div class="container-hover">
               <header class="header-card">
                   <h4>Titulo del proyecto</h4>
                </header>
                <div class="description-project">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, alias?
                    </p>
                </div>   
                <footer class="footer-card">
                    <a href="#"><i class="fa-solid fa-link"></i></a>
                    <a href="#"><i class="fa-brands fa-github-alt"></i></a>
                </footer>
            </div>
        </div>
        <div class="card-project">
            <div class="card-press">
                <i class="fa-solid fa-bullseye"></i>
            </div>
            <img src="/assets/img/post-1.png" alt="">
            <div class="container-hover">
               <header class="header-card">
                   <h4>Titulo del proyecto</h4>
                </header>
                <div class="description-project">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, alias?
                    </p>
                </div>   
                <footer class="footer-card">
                    <a href="#"><i class="fa-solid fa-link"></i></a>
                    <a href="#"><i class="fa-brands fa-github-alt"></i></a>
                </footer>
            </div>
        </div>
        <div class="card-project">
            <div class="card-press">
                <i class="fa-solid fa-bullseye"></i>
            </div>
            <img src="/assets/img/post-1.png" alt="">
            <div class="container-hover">
               <header class="header-card">
                   <h4>Titulo del proyecto</h4>
                </header>
                <div class="description-project">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, alias?
                    </p>
                </div>   
                <footer class="footer-card">
                    <a href="#"><i class="fa-solid fa-link"></i></a>
                    <a href="#"><i class="fa-brands fa-github-alt"></i></a>
                </footer>
            </div>
        </div>
        <div class="card-project">
            <div class="card-press">
                <i class="fa-solid fa-bullseye"></i>
            </div>
            <img src="/assets/img/post-1.png" alt="">
            <div class="container-hover">
               <header class="header-card">
                   <h4>Titulo del proyecto</h4>
                </header>
                <div class="description-project">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, alias?
                    </p>
                </div>   
                <footer class="footer-card">
                    <a href="#"><i class="fa-solid fa-link"></i></a>
                    <a href="#"><i class="fa-brands fa-github-alt"></i></a>
                </footer>
            </div>
        </div>
        <div class="card-project">
            <div class="card-press">
                <i class="fa-solid fa-bullseye"></i>
            </div>
            <img src="/assets/img/post-1.png" alt="">
            <div class="container-hover">
               <header class="header-card">
                   <h4>Titulo del proyecto</h4>
                </header>
                <div class="description-project">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, alias?
                    </p>
                </div>   
                <footer class="footer-card">
                    <a href="#"><i class="fa-solid fa-link"></i></a>
                    <a href="#"><i class="fa-brands fa-github-alt"></i></a>
                </footer>
            </div>
        </div>
        <div class="card-project">
            <div class="card-press">
                <i class="fa-solid fa-bullseye"></i>
            </div>
            <img src="/assets/img/post-1.png" alt="">
            <div class="container-hover">
               <header class="header-card">
                   <h4>Titulo del proyecto</h4>
                </header>
                <div class="description-project">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, alias?
                    </p>
                </div>   
                <footer class="footer-card">
                    <a href="#"><i class="fa-solid fa-link"></i></a>
                    <a href="#"><i class="fa-brands fa-github-alt"></i></a>
                </footer>
            </div>
        </div>
        <div class="card-project">
            <div class="card-press">
                <i class="fa-solid fa-bullseye"></i>
            </div>
            <img src="/assets/img/post-1.png" alt="">
            <div class="container-hover">
               <header class="header-card">
                   <h4>Titulo del proyecto</h4>
                </header>
                <div class="description-project">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, alias?
                    </p>
                </div>   
                <footer class="footer-card">
                    <a href="#"><i class="fa-solid fa-link"></i></a>
                    <a href="#"><i class="fa-brands fa-github-alt"></i></a>
                </footer>
            </div>
        </div>
        <div class="card-project">
            <div class="card-press">
                <i class="fa-solid fa-bullseye"></i>
            </div>
            <img src="/assets/img/post-1.png" alt="">
            <div class="container-hover">
               <header class="header-card">
                   <h4>Titulo del proyecto</h4>
                </header>
                <div class="description-project">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, alias?
                    </p>
                </div>   
                <footer class="footer-card">
                    <a href="#"><i class="fa-solid fa-link"></i></a>
                    <a href="#"><i class="fa-brands fa-github-alt"></i></a>
                </footer>
            </div>
        </div>
        <div class="card-project">
            <div class="card-press">
                <i class="fa-solid fa-bullseye"></i>
            </div>
            <img src="/assets/img/post-1.png" alt="">
            <div class="container-hover">
               <header class="header-card">
                   <h4>Titulo del proyecto</h4>
                </header>
                <div class="description-project">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, alias?
                    </p>
                </div>   
                <footer class="footer-card">
                    <a href="#"><i class="fa-solid fa-link"></i></a>
                    <a href="#"><i class="fa-brands fa-github-alt"></i></a>
                </footer>
            </div>
        </div>
    </section>
    <%- include ('partials/footer.html') %>
    <%- include ('partials/script.html') %>
</body>
</html>