<footer class="footer">
  <div class="container-footer">
    <section class="footer-social">
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      <a href="#"><i class="fa-brands fa-github-square"></i></a>
      <a href="#"><i class="fa-brands fa-twitter-square"></i></a>
      <a href="#"><i class="fa-brands fa-whatsapp-square"></i></a>
    </section>
    <section class="footer-email">
      <div class="icon-email">
        <i class="fa-solid fa-at"></i>
      </div>
      <a href="mailto:mariomars404@gmail.com">
        mariomars404@gmail.com
      </a>
    </section>
  </div>
</footer>
